<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	<!-- 게시판 글 작성(oracle) -->
	<!-- <insert id="insert">
		INSERT INTO MP_BOARD(    BNO 
	   					      , TITLE 
	   					      , CONTENT 
	   					      , WRITER  )
	                 VALUES(    MP_BOARD_SEQ.NEXTVAL 
	                 		  , #{title}
	                 		  , #{content}
	                 		  , #{writer}  )
	</insert> -->
	
	<!-- 게시판 글 작성(mysql) -->
	<insert id="insert">
		INSERT INTO MP_BOARD( 	TITLE 
	   					      , CONTENT 
	   					      , WRITER  )
	                 VALUES(  	#{title}
	                 		  , #{content}
	                 		  , #{writer}  )
	</insert>
   
	<!-- 게시판 글 목록 -->
	<select id="listPage" resultType="kr.co.vo.BoardVO" parameterType="kr.co.vo.SearchCriteria">
		SELECT  BNO, 
		        TITLE, 
		        CONTENT,
		        WRITER, 
		        REGDATE
		 FROM ( 
		        SELECT BNO, 
		               TITLE, 
		               CONTENT, 
		               WRITER, 
		               REGDATE, 
		               ROW_NUMBER() OVER(ORDER BY BNO DESC) AS RNUM
		         FROM MP_BOARD
		         WHERE 1=1 
		         	<include refid="search"></include>
		                       ) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY BNO DESC
	</select>
	
	<!-- 카페24용 게시판 글 목록 -->
	<!-- <select id="listPage" resultType="kr.co.vo.BoardVO" parameterType="kr.co.vo.SearchCriteria">
		SELECT  BNO, 
		        TITLE, 
		        CONTENT,
		        WRITER, 
		        REGDATE
		 FROM ( 
		        SELECT BNO, 
		               TITLE, 
		               CONTENT, 
		               WRITER, 
		               REGDATE,
		               @rownum:=@rownum+1 AS RNUM
         		FROM MP_BOARD  , (SELECT @rownum:=0) TMP
		        WHERE 1=1 
		         	<include refid="search"></include>
		     	ORDER BY BNO DESC
		     	) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY BNO DESC
	</select> -->
	
	<!-- 게시판 제목으로 글 접속 -->
	<select id="read" parameterType="int" resultType="kr.co.vo.BoardVO">
		SELECT	BNO
				, TITLE
				, CONTENT
				, WRITER
				, REGDATE
			FROM MP_BOARD
			WHERE BNO = #{bno}
	</select>
	
	<!-- 게시판 글 수정 -->
	<update id="update" parameterType="kr.co.vo.BoardVO">
		UPDATE MP_BOARD
		   SET TITLE    =   #{title},
		   	   CONTENT  =   #{content}
		 WHERE BNO = #{bno} 
	</update>
	
	<!-- 게시판 글 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE 
		  FROM MP_BOARD
		 WHERE BNO = #{bno}
	</delete>
	
	<!-- 게시판 총 갯수 -->
	<select id="listCount" parameterType="kr.co.vo.SearchCriteria" resultType="int">
		SELECT COUNT(BNO)
		   FROM MP_BOARD
		   WHERE 1=1
		<include refid="search"></include>	
		   AND BNO > 0
	</select>
	
	<!-- 검색 목록 기능(oracle용)-->
	<!-- <sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND TITLE LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND CONTENT LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND WRITER LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND (TITLE LIKE '%' || #{keyword} || '%') or (CONTENT LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql> -->
	
	<!-- 검색 목록 기능(mysql용) -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND TITLE LIKE CONCAT( '%' , #{keyword} ,'%')</if>
			<if test="searchType == 'c'.toString()">AND CONTENT LIKE CONCAT('%' , #{keyword} , '%')</if>
			<if test="searchType == 'w'.toString()">AND WRITER LIKE CONCAT('%' , #{keyword} , '%')</if>
			<if test="searchType == 'tc'.toString()">AND (TITLE LIKE CONCAT( '%' , #{keyword} , '%')) or (CONTENT LIKE CONCAT( '%' , #{keyword} , '%'))</if>
		</if>
	</sql>
</mapper>